# ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the instance folder
instance/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment variables
.env

# Ignore other temporary files
*.swp
*.log

# Ignore distribution and build directories
dist/
build/

# Ignore egg-info directories
*.egg-info/