/* TODO: restyle loading-container text */

:root {
    --main-logo-color: #00cad5;
    --secondary-logo-color: #ec6d76;
}

* {
  color: #352f36;
}

body {
  background-color: #f0f5f6;
}

#app-title {
  font-family: "Poetsen One", sans-serif;
  background: linear-gradient(90deg, var(--main-logo-color), var(--secondary-logo-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.btn-primary {
    background-color: var(--main-logo-color);
    border-color: var(--main-logo-color);
}

#alert-close {
    float: right;
}

#loading-container p {
    margin-bottom: 0%;
}

.attribution {
  font-size: 0.85em;
}

