:root {
    --main-logo-color: #00cad5;
}

.btn-primary {
    background-color: var(--main-logo-color);
    border-color: var(--main-logo-color);
}

#alert-close {
    float: right;
}

.main-content {
    min-height: calc(100dvh - 327px);
}
