{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        const chartData = {{ chart_data | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='charts.js') }}" defer></script>
{% endblock %}

{% block title %}
    Charts
{% endblock %}

{% block main %}
    <h1>Skills Charts</h1>
    <p>
        Charts showing a visual representation of the most in demand technologies
        for {{ job_title }}s near {{ location }}
    </p>
    <div id="column_chart" class="chart-container" style="height: 500px"></div>
    <div id="pie_chart" class="chart-container" style="height: 700px"></div>
{% endblock %}