{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='location.js') }}" defer></script>
{% endblock %}

{% block title %} 
    Home 
{% endblock %} 

{% block main%}
<!-- injecting env variables to use in Nominatim API -->
<script>const NOMINATIM_USER_AGENT = "{{ nominatim_user_agent }}";</script>

<div id="main-text" class="mb-3">
    <div id="title-text" class="mb-4 mb-md-5">
        <h1 id="app-title" class="display-1">
            SkillSift
        </h1>
        <h2 class="fs-5">
            Find out what skills, technologies, and knowledge are most in demand for your
            job
        </h2>
    </div>
    <!-- adjust bottom margin of h2.display-6 -->
    <p class="instructions lead">
        Enter your chosen job title and location below and click search.
        SkillSift will search local job postings and return to you a complete
        list - and graphs - of the most in demand skills and technologies for your
        chosen job.
    </p>
    <!-- adjust bottom margin of p.instructions -->
</div>

<div class="search-card container">
    <div class="shadow card bg-body-tertiary">
        <div class="card-body text-center">
            <form action="/scrape" method="post">
                <div class="mb-3 d-flex flex-column align-items-center">
                    <!-- job title input -->
                    <div class="mb-3 w-auto">
                        <input
                            autocomplete="off"
                            autofocus
                            class="shadow-sm form-control w-auto"
                            name="job_title"
                            placeholder="Job Title"
                            type="text"
                        />
                    </div>
            
                    <!-- location input group -->
                    <div class="input-group mb-3 w-auto">
                        <button
                            class="btn btn-outline-secondary"
                            type="button"
                            id="location-button"
                            title="Use my location"
                        >
                            &#x1F4CD
                        </button>
                        <input
                            type="text"
                            id="location-input"
                            class="shadow-sm form-control"
                            name="location"
                            placeholder="Enter a location"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                        />
                    </div>
                    <!-- container for loading text and loader animation -->
                    <div id="loading-container" hidden="">
                        <p>Searching job descriptions...</p>
                        <p>Can take up to one minute to complete</p>
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </div>
            
                    <!-- search button -->
                     <!-- TODO:? swap out custom loader and animation for bs
                                in-button spinner?
                                https://getbootstrap.com/docs/5.3/components/spinners/#buttons -->
                    <button 
                        onclick="document.getElementById('loading-container').removeAttribute('hidden')" 
                        class="shadow-sm btn btn-primary btn-lg" 
                        type="submit">
                        Search
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
