{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <article class="mb-3">
        <header class="mb-4 mb-md-5">
            <h1 class="display-1">Skills List</h1>
        </header>
        <section>
            <p class="lead">
                A complete list of skills for {{ job_title }}s near {{ location }}.
                From most requested to least requested, based on {{ num_of_jobs }}
                different job postings.
            </p>
        </section>
    </article>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Technology</th>
                <th>Number of job descriptions out of {{ num_of_jobs }}</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword, frequency in sorted_keywords_dict.items() %}
            <tr>
                <td>{{ keyword }}</td>
                <td>{{ frequency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
