{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <h1>Skills List</h1>
    <p>
        A complete list of skills for your area, from most requested to least 
        requested
    </p>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Skill</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword, frequency in sorted_keywords_dict.items() %}
            <tr>
                <td>{{ keyword }}</td>
                <td>{{ frequency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
